Repository m5stack/uiflow-micropython: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, build-docs

build-job:
  stage: build
  script:
  - sudo apt-get update -qy
  - sudo apt-get install git wget flex bison gperf python3 python3-pip python3-venv cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 -y
  - source tools/ci.sh && ci_esp32_idf522_setup
  - source tools/ci.sh && ci_esp32_nightly_build
  ...

build-docs:
  stage: docs
  script:
  - echo "Building the documentation..."
  - cd docs
  - python3 -m venv .
  - source bin/activate
  - pip3 install -r requirements.txt
  - sphinx-build -W -b html -D language=zh_CN ./en/ build/html/zh_CN
  - sphinx-build -W -b html -D language=en ./en/ build/html/en
  - cd -
  artifacts:
  ...

libs/driver/simcom: Support ssl function.
  m5stack/libs/driver/simcom/sim7600.py
  m5stack/libs/driver/simcom/toolkit/requests2.py
Due: none

docs: Add Unit HBridge docs.
  docs/en/refs/unit.hbridge.ref
  docs/en/units/hbridge.rst
  docs/en/units/index.rst
  docs/locales/zh_CN/LC_MESSAGES/units/hbridge.po
  examples/unit/hbridge/cores3_hbridge_motor_control.m5f2
  examples/unit/hbridge/cores3_hbridge_motor_control.py
  m5stack/libs/unit/hbridge.py
Due: none

docs: Add Unit BLDCDriver docs.
  docs/en/refs/unit.bldc_driver.ref
  docs/en/units/bldc_driver.rst
  docs/en/units/index.rst
  docs/locales/zh_CN/LC_MESSAGES/units/bldc_driver.po
  examples/unit/bldc_driver/cores3_bldc_driver_example.m5f2
  examples/unit/bldc_driver/cores3_bldc_driver_example.py
  m5stack/libs/unit/bldc_driver.py
Due: none

docs: Add Unit Thermal example.
  docs/en/refs/unit.thermal.ref
  docs/en/units/thermal.rst
  docs/locales/zh_CN/LC_MESSAGES/units/thermal.po
  examples/unit/thermal/cores3_thermal_imaging.m5f2
  examples/unit/thermal/cores3_thermal_imaging.py
  m5stack/libs/driver/mlx90640.py
Due: none

lib/module:Fix LoRaSx1262Module has not attribute BANDWIDTHS error.
  m5stack/libs/module/lora_sx1262.py
Due: none

boards: Add AtomS3R-CAM support.
  .github/workflows/build-release.yml
  .github/workflows/nightly-build.yml
  m5stack/CMakeListsDefault.cmake
  m5stack/Makefile
  m5stack/boards/M5STACK_AtomS3R_CAM/board.json
  m5stack/boards/M5STACK_AtomS3R_CAM/manifest.py
  m5stack/boards/M5STACK_AtomS3R_CAM/mpconfigboard.cmake
  m5stack/boards/M5STACK_AtomS3R_CAM/mpconfigboard.h
  m5stack/boards/M5STACK_AtomS3R_CAM/sdkconfig.board
  m5stack/cmodules/cmodules.cmake
  m5stack/cmodules/m5unified/m5unified.c
  m5stack/cmodules/omv/modules/py_camera.c
  m5stack/cmodules/omv/omv_atoms3r_cam.cmake
  m5stack/modules/startup/__init__.py
  m5stack/modules/startup/atoms3r_cam.py
  m5stack/modules/startup/manifest_atoms3r_cam.py
  m5stack/patches/5001-Add-software-i2c-support.patch
  tools/ci.sh
Due: build-job

docs: Add Controllers/AtomS3R-CAM docs.
  docs/_static/controllers/atoms3r_cam/browser.png
  docs/_static/controllers/atoms3r_cam/configure.png
  docs/_static/controllers/atoms3r_cam/connect.png
  docs/_static/controllers/atoms3r_cam/copy_paste_example_code.png
  docs/_static/controllers/atoms3r_cam/run.png
  docs/en/controllers/atoms3r_cam.rst
  docs/en/controllers/index.rst
  docs/en/refs/controllers.atoms3r_cam.ref
  examples/controllers/atoms3r_cam/video_streaming.py
Due: none

docs: Example diagram for fixing the nbiot bug.
  docs/en/base/dtu_nbiot.rst
  docs/en/refs/base.dtu_nbiot.ref
Due: none

lib/base: Add DTU LoRaWAN-Series(RAK3172) Base support.
  docs/en/base/dtu_lorawan_rui3.rst
  docs/en/base/index.rst
  docs/en/conf.py
  docs/en/refs/base.lorawan_rui3.ref
  docs/en/refs/unit.lorawan_rui3.ref
  docs/locales/zh_CN/LC_MESSAGES/base/dtu_lorawan_rui3.po
  examples/base/dtu_lorawan_rui3/base_lorawan868_otaa_atom_lite_example.m5f2
  examples/base/dtu_lorawan_rui3/base_lorawan868_otaa_atom_lite_example.py
  examples/base/dtu_lorawan_rui3/base_lorawan868_p2p_rx_atom_lite_example.m5f2
  examples/base/dtu_lorawan_rui3/base_lorawan868_p2p_rx_atom_lite_example.py
  examples/base/dtu_lorawan_rui3/base_lorawan868_p2p_tx_atom_lite_example.m5f2
  examples/base/dtu_lorawan_rui3/base_lorawan868_p2p_tx_atom_lite_example.py
  m5stack/libs/base/__init__.py
  m5stack/libs/base/dtu_lorawan_rui3.py
  m5stack/libs/base/manifest.py
  m5stack/libs/driver/rui3.py
Due: none

lib/unit: Fix Unit ASR misrecognition of line breaks.
  m5stack/libs/unit/asr.py
Due: none

docs: Add esp-dl example brief.
  docs/en/advanced/dl.rst
  docs/requirements.txt
Due: build-docs

libs/module: Add Audio Module support.
  m5stack/boards/M5STACK_CoreS3/mpconfigboard.h
  m5stack/cmodules/cmodules.cmake
  m5stack/cmodules/m5audio2/audio2_player.c
  m5stack/cmodules/m5audio2/audio2_recorder.c
  m5stack/cmodules/m5audio2/format_wav.h
  m5stack/cmodules/m5audio2/i2s_helper.c
  m5stack/cmodules/m5audio2/i2s_helper.h
  m5stack/cmodules/m5audio2/m5audio2.cmake
  m5stack/cmodules/m5audio2/modaudio2.c
  m5stack/cmodules/m5audio2/vfs_stream.c
  m5stack/cmodules/m5audio2/vfs_stream.h
  m5stack/libs/driver/es8388/__init__.py
  m5stack/libs/driver/es8388/reg.py
  m5stack/libs/driver/manifest.py
  m5stack/libs/module/__init__.py
  m5stack/libs/module/audio.py
  m5stack/libs/module/manifest.py
  m5stack/libs/module/mbus.py
Due: none

docs: Add Audio Module docs.
  docs/en/conf.py
  docs/en/module/audio.rst
  docs/en/module/index.rst
  docs/en/refs/module.audio.ref
  docs/locales/zh_CN/LC_MESSAGES/module/audio.po
  examples/module/audio/66.wav
  examples/module/audio/cores3_play_wav_example.m5f2
  examples/module/audio/cores3_play_wav_example.py
  examples/module/audio/cores3_playback_controls_example.m5f2
  examples/module/audio/cores3_playback_controls_example.py
  examples/module/audio/cores3_record_audio_example.m5f2
  examples/module/audio/cores3_record_audio_example.py
  m5stack/libs/module/audio.py
Due: none

cmodules: Fix compilation errors.
  m5stack/cmodules/cmodules.cmake
Due: none

boards: Modify Dial's partition table.
  m5stack/boards/M5STACK_Dial/mpconfigboard.cmake
  m5stack/boards/M5STACK_Dial/sdkconfig.board
  m5stack/partitions_8mb_lvgl.csv
Due: build-job

libs/lv_utils: Add lv_utils module.
  m5stack/cmodules/adf_module/vfs_stream.c
  m5stack/cmodules/cmodules.cmake
  m5stack/cmodules/lv_utils/lv_utils.cmake
  m5stack/cmodules/lv_utils/modlv_utils.c
  m5stack/cmodules/m5unified/m5unified.cmake
  m5stack/components/M5Unified/mpy_lvgl.txt
  m5stack/components/M5Unified/mpy_m5lfs2.txt
  m5stack/libs/lv_utils/__init__.py
  m5stack/libs/lv_utils/lv_utils.py
  m5stack/libs/lv_utils/manifest.py
  m5stack/libs/lvgl/fs_driver.py
  m5stack/libs/manifest.py
  tests/lvgl/image.py
  tests/lvgl/label.py
  tests/lvgl/multiple_display.py
Due: none

boards: Fix compilation errors.
  m5stack/boards/M5STACK_AtomS3R_CAM/mpconfigboard.cmake
Due: none

version.text: Update to V2.2.6.
  m5stack/version.txt
  third-party/version.txt
Due: build-job

modules/m5sync: Add AtomS3R-CAM.
  m5stack/components/m5things/include/boards.h
  m5stack/modules/m5sync/sync.py
Due: none

partitions_8mb_lvgl.csv: Modify the partition table.
  m5stack/partitions_8mb_lvgl.csv
Due: build-job

tools/release.py: Update AtomS3R-CAM's fid.
  tools/release.py
Due: build-job

lib/unit: Fix PDM Unit example recording sound irregularity.
  examples/unit/pdm/pdm_cores3_example.m5f2
  examples/unit/pdm/pdm_cores3_example.py
Due: none

lib/base: Add DTU NB-IoT-Series base support.
  m5stack/libs/base/__init__.py
  m5stack/libs/base/dtu_lorawan_rui3.py
  m5stack/libs/base/manifest.py
Due: none

cmodule/m5unified: Add EPD related APIs.
  docs/en/hardware/display.rst
  m5stack/cmodules/m5unified/m5unified_gfx.c
  m5stack/components/M5Unified/mpy_m5gfx.cpp
Due: none

components/M5Unified: Add fatfs compatibility layer.
  m5stack/CMakeListsDefault.cmake
  m5stack/_vfs_stream.c
  m5stack/_vfs_stream.h
  m5stack/cmodules/adf_module/vfs_stream.h
  m5stack/cmodules/m5audio2/audio2_player.c
  m5stack/cmodules/m5audio2/m5audio2.cmake
  m5stack/components/M5Unified/mpy_m5gfx.cpp
  m5stack/components/M5Unified/mpy_m5lfs2.txt
  m5stack/components/M5Unified/mpy_m5widgets.cpp
Due: build-job

components/M5Unified: Update M5GFX and M5Unified.
  .gitmodules
  m5stack/CMakeListsDefault.cmake
  m5stack/CMakeListsLvgl.cmake
  m5stack/Makefile
  m5stack/boards/M5STACK_PaperS3/mpconfigboard.cmake
  m5stack/components/M5Unified/CMakeLists.txt
Due: build-job

libs/module: Add support for Module DCMotor.
  docs/en/module/dc_motor.rst
  docs/en/module/index.rst
  docs/en/refs/module.dc_motor.ref
  docs/locales/zh_CN/LC_MESSAGES/module/dc_motor.po
  examples/module/dc_motor/cores3_dc_motor_module_speed_control.m5f2
  examples/module/dc_motor/cores3_dc_motor_module_speed_control.py
  m5stack/libs/module/__init__.py
  m5stack/libs/module/dc_motor.py
  m5stack/libs/module/manifest.py
Due: none

libs/module: Add support for LoRa868 v1.2 Module.
  docs/en/module/index.rst
  docs/en/module/lora868_v12.rst
  docs/en/refs/module.lora868_v12.ref
  docs/en/refs/module.lora_sx1262.ref
  docs/locales/zh_CN/LC_MESSAGES/module/lora868_v12.po
  docs/locales/zh_CN/LC_MESSAGES/module/lora_sx1262.po
  examples/module/lora868_v12/cores3_lora868_v12_rx_example.m5f2
  examples/module/lora868_v12/cores3_lora868_v12_rx_example.py
  examples/module/lora868_v12/cores3_lora868_v12_tx_example.m5f2
  examples/module/lora868_v12/cores3_lora868_v12_tx_example.py
  examples/module/lora_sx1262/cores3_lora_sx1262_rx_example.m5f2
  examples/module/lora_sx1262/cores3_lora_sx1262_tx_example.m5f2
  m5stack/libs/module/__init__.py
  m5stack/libs/module/lora868_v12.py
  m5stack/libs/module/manifest.py
Due: none

boards: Add AtomS3R-M12 support.
  docs/en/advanced/camera.rst
  docs/locales/zh_CN/LC_MESSAGES/advanced/camera.po
  m5stack/cmodules/omv/modules/py_camera.c
Due: none

docs: Add Unit NCIR2 docs.
  docs/en/refs/unit.ncir2.ref
  docs/en/units/hbridge.rst
  docs/en/units/index.rst
  docs/en/units/ncir2.rst
  docs/locales/zh_CN/LC_MESSAGES/units/ncir2.po
  examples/unit/ncir2/m5cores3_ncir2_base_example.m5f2
  examples/unit/ncir2/m5cores3_ncir2_base_example.py
Due: none

tools/codeformat.py: Code format.
  m5stack/cmodules/esp_zigbee_host/py_esp_zigbee_host.c
  m5stack/cmodules/omv/modules/py_camera.c
  m5stack/cmodules/rf433/py_rf433.c
  m5stack/modules/startup/atoms3r_cam.py
  tools/codeformat.py
Due: build-job

docs: Fix some compilation errors.
  docs/locales/zh_CN/LC_MESSAGES/advanced/dl.po
  docs/locales/zh_CN/LC_MESSAGES/base/dtu_lorawan_rui3.po
  docs/locales/zh_CN/LC_MESSAGES/base/dtu_nbiot.po
  docs/locales/zh_CN/LC_MESSAGES/controllers/atoms3r_cam.po
  docs/locales/zh_CN/LC_MESSAGES/hardware/display.po
  docs/locales/zh_CN/LC_MESSAGES/module/dc_motor.po
  docs/locales/zh_CN/LC_MESSAGES/module/lora_sx1262.po
  docs/locales/zh_CN/LC_MESSAGES/units/hbridge.po
  docs/locales/zh_CN/LC_MESSAGES/units/ncir2.po
Due: none

.gitlab-ci.yml: Add code-format job.
  .gitlab-ci.yml
  tests/hardware/button_cb.py
Due: none

tools/ci.sh: Fix apt update error.
  tools/ci.sh
Due: build-job

tools/ci.sh: Repair environment installation failure.
  .gitlab-ci.yml
  examples/unit/ncir2/m5cores3_ncir2_base_example.py
  pyproject.toml
  tools/ci.sh
Due: build-job

libs/module: Add support for Unit GatewayH2.
  docs/en/module/gateway_h2.rst
  docs/en/refs/unit.gateway_h2.ref
  docs/en/units/gateway_h2.rst
  docs/en/units/index.rst
  docs/locales/zh_CN/LC_MESSAGES/module/gateway_h2.po
  docs/locales/zh_CN/LC_MESSAGES/units/gateway_h2.po
  examples/unit/gateway_h2/cores3_switch_endpoint_example.m5f2
  examples/unit/gateway_h2/cores3_switch_endpoint_example.py
  m5stack/libs/unit/__init__.py
  m5stack/libs/unit/gateway_h2.py
  m5stack/libs/unit/manifest.py
Due: none

version.text: Update to V2.2.7.
  m5stack/version.txt
  third-party/version.txt
Due: build-job

libs/base: Optimizing Echo Base.
  docs/en/base/echo.rst
  docs/en/refs/base.echo.ref
  docs/en/refs/module.audio.ref
  docs/locales/zh_CN/LC_MESSAGES/base/echo.po
  examples/base/echo/atoms3_play_wav_example.m5f2
  examples/base/echo/atoms3_play_wav_example.py
  examples/base/echo/atoms3_playback_controls_example.m5f2
  examples/base/echo/atoms3_playback_controls_example.py
  examples/base/echo/atoms3_record_audio_example.m5f2
  examples/base/echo/atoms3_record_audio_example.py
  m5stack/cmodules/m5audio2/audio2_player.c
  m5stack/cmodules/m5audio2/audio2_recorder.c
  m5stack/cmodules/m5audio2/i2s_helper.c
  m5stack/libs/base/__init__.py
  m5stack/libs/base/echo.py
  m5stack/libs/driver/es8311/__init__.py
  m5stack/libs/module/audio.py
Due: none

Path conditions:
  build-job: any of: m5stack/**, tools/**, third-party/**
  build-docs: any of: docs/**
