Repository m5stack/uiflow-micropython: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, build-docs

build-job:
  stage: build
  script:
  - sudo apt-get update -qy
  - sudo apt-get install git wget flex bison gperf python3 python3-pip python3-venv cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 -y
  - source tools/ci.sh && ci_esp32_idf504_setup
  - source tools/ci.sh && ci_esp32_nightly_build
  ...

build-docs:
  stage: docs
  script:
  - echo "Building the documentation..."
  - cd docs
  - apt install python3-sphinx
  - pip3 install -r requirements.txt
  - sphinx-build -b html -D language=zh_CN ./en/ build/html/zh_CN
  - sphinx-build -b html -D language=en ./en/ build/html/en
  - cd -
  artifacts:
    paths:
    - docs/build/
  ...

libs/requests2: Add requests2 module.
  docs/en/refs/software.requests2.ref
  docs/en/software/index.rst
  docs/en/software/requests2.rst
  examples/softwave/http/cores3_http_get_example.m5f2
  examples/softwave/http/cores3_http_get_example.py
  m5stack/libs/manifest.py
  m5stack/libs/requests2/__init__.py
  m5stack/libs/requests2/manifest.py
  tools/http_server.py
Due: build-job

Bug: Fix espnow driver codes.
  m5stack/libs/m5espnow/m5espnow.py
Due: none

libs/unit/gps.py: Fix GPS latitude and longitude errors.
  m5stack/libs/unit/gps.py
Due: none

libs: Code Formatting.
  m5stack/libs/driver/drf1609h.py
  m5stack/libs/unit/kmeter.py
Due: none

board.cpp: Apply i2c1 fix also for CoreS3SE.
  m5stack/board.cpp
Due: build-job

docs: Fix Finger Unit example link.
  docs/en/refs/unit.finger.ref
Due: none

version.text: Update to V2.1.3.
  m5stack/modules/_boot.py
  m5stack/version.txt
  third-party/modules/_boot.py
  third-party/version.txt
Due: build-job

cmodules/m5unified: Speaker support play wav audio from file.
  m5stack/cmodules/m5unified/m5unified_speaker.c
  m5stack/components/M5Unified/mpy_m5spk.cpp
Due: none

unit: Fix import error.
  m5stack/libs/unit/__init__.py
Due: none

boards: Add AtomS3R support.
  m5stack/Makefile
  m5stack/boards/M5STACK_AtomS3R/board.json
  m5stack/boards/M5STACK_AtomS3R/manifest.py
  m5stack/boards/M5STACK_AtomS3R/mpconfigboard.cmake
  m5stack/boards/M5STACK_AtomS3R/mpconfigboard.h
  m5stack/boards/M5STACK_AtomS3R/sdkconfig.board
  m5stack/boards/sdkconfig.spiram_oct
  m5stack/cmodules/m5unified/m5unified.c
  m5stack/fs/system/atoms3r/mode_dev.png
  m5stack/fs/system/atoms3r/wifi_err.png
  m5stack/fs/system/atoms3r/wifi_ok.png
  m5stack/modules/startup/__init__.py
  m5stack/modules/startup/atoms3r.py
  m5stack/modules/startup/manifest_atoms3r.py
  m5stack/patches/2004-Support-AtomS3R.patch
Due: build-job

docs: Add hardware.Speaker example.
  docs/en/hardware/speaker.rst
  docs/en/refs/hardware.speaker.ref
  docs/en/refs/system.ref
  examples/hardware/speaker/cores3_speaker_example.m5f2
  examples/hardware/speaker/cores3_speaker_example.py
  examples/hardware/speaker/poweron_2_5s.wav
Due: none

Bug: Fix unit gps(missing 'self' object).
  m5stack/libs/unit/gps.py
Due: none

cmodule/m5unified: Add setScale method.
  m5stack/cmodules/m5unified/m5unified_widgets.c
  m5stack/components/M5Unified/mpy_m5widgets.cpp
Due: none

docs: Add widgets circle docs.
  docs/en/refs/widgets.circle.ref
  docs/en/widgets/circle.rst
  docs/en/widgets/index.rst
  examples/widgets/circle/circle_core2_example.m5f2
  examples/widgets/circle/circle_core2_example.py
Due: none

docs: Add hardware als & wdt docs.
  docs/en/hardware/als.rst
  docs/en/hardware/index.rst
  docs/en/hardware/wdt.rst
  docs/en/refs/hardware.als.ref
  docs/en/refs/hardware.wdt.ref
  examples/hardware/als/als_cores3_example.m5f2
  examples/hardware/als/als_cores3_example.py
  examples/hardware/wdt/wdt_cores3_example.m5f2
  examples/hardware/wdt/wdt_cores3_example.py
Due: none

docs: Add hardware adc docs.
  docs/en/hardware/adc.rst
  docs/en/hardware/index.rst
  docs/en/refs/hardware.adc.ref
  examples/hardware/adc/adc_cores3_example.m5f2
  examples/hardware/adc/adc_cores3_example.py
Due: none

docs: Add widgets image&image+ docs.
  docs/en/refs/widgets.image+.ref
  docs/en/refs/widgets.image.ref
  docs/en/widgets/image+.rst
  docs/en/widgets/image.rst
  docs/en/widgets/index.rst
  examples/widgets/image/image_cores3_example.m5f2
  examples/widgets/image/image_cores3_example.py
  examples/widgets/imageplus/imageplus_cores3_example.m5f2
  examples/widgets/imageplus/imageplus_cores3_example.py
Due: none

docs: Add WLAN docs.
  docs/en/hardware/imu.rst
  docs/en/refs/hardware.imu.ref
  docs/en/refs/system.wlan.ap.ref
  docs/en/refs/system.wlan.sta.ref
  docs/en/refs/unit.midi.ref
  docs/en/system/index.rst
  docs/en/system/wlan.ap.rst
  docs/en/system/wlan.sta.rst
  docs/en/units/lora_e220.rst
  docs/en/widgets/image.rst
  examples/system/wlan_ap/wlan_ap_cores3_example.m5f2
  examples/system/wlan_ap/wlan_ap_cores3_example.py
  examples/system/wlan_sta/wlan_sta_cores3_example.m5f2
  examples/system/wlan_sta/wlan_sta_cores3_example.py
Due: none

docs: Update requirements.
  docs/requirements.txt
Due: build-docs

modesp32.c: Add firmware_info function.
  m5stack/CMakeListsDefault.cmake
  m5stack/CMakeListsLvgl.cmake
  m5stack/modesp32.c
  m5stack/modules/_boot.py
  third-party/CMakeListsDefault.cmake
  third-party/CMakeListsLvgl.cmake
  third-party/modules/_boot.py
  third-party/modules/startup/box3/apps/app_run.py
Due: build-job

libs/unit/id.py: Integrated with ATECC608B hardware cryptographic chip.
  docs/en/refs/unit.id.ref
  docs/en/units/id.rst
  docs/en/units/index.rst
  examples/unit/id/cores3_id_example.m5f2
  examples/unit/id/cores3_id_example.py
  m5stack/libs/driver/atecc608b_tngtls/__init__.py
  m5stack/libs/driver/atecc608b_tngtls/atecc.py
  m5stack/libs/driver/atecc608b_tngtls/atecc_asn1.py
  m5stack/libs/driver/atecc608b_tngtls/atecc_cert_util.py
  m5stack/libs/driver/manifest.py
  m5stack/libs/unit/__init__.py
  m5stack/libs/unit/id.py
  m5stack/libs/unit/manifest.py
Due: none

cmodule: Add m5utils and remap method.
  m5stack/cmodules/cmodules.cmake
  m5stack/cmodules/m5utils/m5utils.c
  m5stack/cmodules/m5utils/m5utils.cmake
  third-party/cmodules/cmodules.cmake
  third-party/cmodules/m5utils/m5utils.c
  third-party/cmodules/m5utils/m5utils.cmake
Due: none

lib/module: Support callback for LoRa.
  m5stack/libs/module/lora.py
Due: none

docs: Update lora module doc.
  docs/en/module/lora.rst
  docs/en/refs/module.lora.ref
Due: none

libs/module: Support Lora Module.
  docs/en/module/index.rst
  docs/en/module/lora.rst
  docs/en/refs/module.lora.ref
  m5stack/libs/module/__init__.py
  m5stack/libs/module/lora.py
  m5stack/libs/module/manifest.py
  m5stack/libs/module/mbus.py
  m5stack/machine_hw_spi.c
  m5stack/modules/manifest.py
Due: build-job

libs/module: Optmize send method.
  docs/en/module/lora.rst
  docs/en/refs/module.lora.ref
  m5stack/libs/module/lora.py
Due: none

docs: Add Lora Module example.
  docs/en/module/lora.rst
  docs/en/refs/module.lora.ref
  examples/module/lora/cores3_lora433_rx_example.m5f2
  examples/module/lora/cores3_lora433_rx_example.py
  examples/module/lora/cores3_lora433_tx_example.m5f2
  examples/module/lora/cores3_lora433_tx_example.py
  examples/module/lora/cores3_lora868_rx_example.m5f2
  examples/module/lora/cores3_lora868_rx_example.py
  examples/module/lora/cores3_lora868_tx_example.m5f2
  examples/module/lora/cores3_lora868_tx_example.py
Due: none

docs: Fix JoystickV2Unit Bug.
  docs/en/units/joystickv2.rst
Due: none

libs/unit: Add brightness adjust feature to joystickv2.
  docs/en/refs/unit.joystickv2.ref
  docs/en/units/joystickv2.rst
  m5stack/libs/unit/joystickv2.py
Due: none

libs/unit: Support JoystickV2.
  docs/en/refs/unit.joystickv2.ref
  docs/en/units/index.rst
  docs/en/units/joystickv2.rst
  m5stack/libs/unit/__init__.py
  m5stack/libs/unit/joystickv2.py
  m5stack/libs/unit/manifest.py
Due: none

libs/unit: Rename to Joystick2.
  docs/en/refs/unit.joystick2.ref
  docs/en/refs/unit.joystickv2.ref
  docs/en/units/index.rst
  docs/en/units/joystick2.rst
  m5stack/libs/unit/__init__.py
  m5stack/libs/unit/joystick2.py
  m5stack/libs/unit/manifest.py
Due: none

libs/unit: Rename methods, add new api.
  docs/en/refs/unit.joystickv2.ref
  docs/en/units/joystickv2.rst
  m5stack/libs/unit/joystickv2.py
Due: none

docs: Updated documentation for the Joystick2 Unit.
  docs/en/refs/unit.joystick2.ref
  docs/en/units/index.rst
  docs/en/units/joystick2.rst
  examples/unit/joystick2/cores3_joystick_example.m5f2
  examples/unit/joystick2/cores3_joystick_example.py
Due: none

libs/unit: Code correction and add docs.
  docs/en/refs/unit.kmeter_iso.ref
  docs/en/units/index.rst
  docs/en/units/kmeter_iso.rst
  examples/unit/kmeteriso/cores3_kmeteriso_example.m5f2
  examples/unit/kmeteriso/cores3_kmeteriso_example.py
  m5stack/libs/unit/kmeter_iso.py
  m5stack/libs/unit/rs485.py
Due: none

version.text: Update to V2.1.4.
  m5stack/version.txt
  third-party/version.txt
Due: build-job

m5things: Add AtomS3R board.
  m5stack/components/m5things/include/boards.h
Due: none

tools/release.py: Automatically AtomS3R firmware.
  tools/release.py
Due: build-job

tools/ci.sh: Add CI/CD for AtomS3R.
  .github/workflows/build-release.yml
  .github/workflows/nightly-build.yml
  tools/ci.sh
Due: build-job

Path conditions:
  build-job: any of: m5stack/**, tools/**, third-party/**
  build-docs: any of: docs/**
