Repository m5stack/uiflow-micropython: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, build-docs

build-job:
  stage: build
  script:
  - sudo apt-get update -qy
  - sudo apt-get install git wget flex bison gperf python3 python3-pip python3-venv cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 -y
  - source tools/ci.sh && ci_esp32_idf504_setup
  - source tools/ci.sh && ci_esp32_nightly_build
  ...

build-docs:
  stage: docs
  script:
  - echo "Building the documentation..."
  - cd docs
  - apt install python3-sphinx
  - pip3 install -r requirements.txt
  - sphinx-build -b html -D language=zh_CN ./en/ build/html/zh_CN
  - sphinx-build -b html -D language=en ./en/ build/html/en
  - cd -
  artifacts:
    paths:
    - docs/build/
  ...

components/M5Unified: Fix M5.Power.getBatteryLevel always returns 0.
  m5stack/boards/sdkconfig.base
Due: none

board.cpp: Fixed internal I2C initialization exception.
  m5stack/board.cpp
  m5stack/components/M5Unified/mpy_m5unified.cpp
Due: build-job

cmodules/m5camera: Fix camera initialization exception.
  m5stack/board.cpp
  m5stack/cmodules/m5camera/m5camera.c
Due: build-job

cmodules: Fix merge conflicts (add omv module)
  docs/Makefile
  docs/_static/software/camera/camera_display.svg
  docs/_static/software/dl/human_face_detect.svg
  docs/_static/software/dl/human_face_recognition.svg
  docs/_static/software/dl/pedestrian_detect.svg
  docs/_static/software/image/draw_test.svg
  docs/en/hardware/camera.rst
  docs/en/hardware/display.rst
  docs/en/hardware/index.rst
  docs/en/refs/hardware.camera.ref
  docs/en/software/index.rst
  docs/zh_CN/hardware/camera.rst
  docs/zh_CN/hardware/display.rst
  docs/zh_CN/hardware/index.rst
  docs/zh_CN/refs/hardware.camera.ref
  docs/zh_CN/software/index.rst
  examples/hardware/camera/cores3_example_camera_display.m5f2
  examples/hardware/camera/cores3_example_camera_display.py
  examples/softwave/camera/cores3_example_camera_display.py
  examples/softwave/dl/cores3_example_human_face_detect.py
  examples/softwave/dl/cores3_example_human_face_recognition.py
  examples/softwave/image/cores3_example_draw_test.py
  m5stack/boards/M5STACK_CoreS3/sdkconfig.board
Due: build-docs

lib/module: Add ODrive module.
  m5stack/libs/module/__init__.py
  m5stack/libs/module/manifest.py
  m5stack/libs/module/odrive.py
Due: none

docs: Add documentation for ODrive Module.
  docs/en/module/index.rst
  docs/en/module/odrive.rst
  docs/en/refs/module.odrive.ref
  examples/module/odrive/core_odrive_example.m5f2
  examples/module/odrive/core_odrive_example.py
  m5stack/libs/module/odrive.py
Due: none

lib/units: GPSV11 latitude and longitude conversion degrees, minutes.
  m5stack/libs/unit/gps_v11.py
Due: none

m5stack: Fix relative path hint after successful compilation.
  m5stack/makeimg.py
Due: build-job

m5stack: Fixes issues with running under macOS.
  m5stack/include/files.mk
Due: none

lib/module: Add PM2.5 Module Support.
  docs/en/module/index.rst
  docs/en/module/pm25.rst
  docs/en/refs/module.pm25.ref
  examples/module/pm25/pm25_core2_example.m5f2
  examples/module/pm25/pm25_core2_example.py
  m5stack/libs/module/__init__.py
  m5stack/libs/module/manifest.py
  m5stack/libs/module/pm25.py
Due: none

lib/module: Add DMX Module Support.
  docs/en/module/dmx.rst
  docs/en/module/index.rst
  docs/en/refs/module.dmx.ref
  examples/module/dmx/dmx512_core2_receive_eample.m5f2
  examples/module/dmx/dmx512_core2_receive_example.py
  examples/module/dmx/dmx512_core2_send_example.m5f2
  examples/module/dmx/dmx512_core2_send_example.py
  m5stack/cmodules/cdriver/esp_dmx/driver_esp_dmx.c
  m5stack/libs/driver/dmx512.py
  m5stack/libs/module/__init__.py
  m5stack/libs/module/dmx.py
  m5stack/libs/module/manifest.py
Due: none

docs: Supplemental Unit Documentation and Examples.
  docs/en/refs/unit.adc_v11.ref
  docs/en/refs/unit.button.ref
  docs/en/refs/unit.color.ref
  docs/en/refs/unit.extio.ref
  docs/en/refs/unit.extio2.ref
  docs/en/refs/unit.limit.ref
  docs/en/units/adc_v11.rst
  docs/en/units/button.rst
  docs/en/units/color.rst
  docs/en/units/extio.rst
  docs/en/units/extio2.rst
  docs/en/units/index.rst
  docs/en/units/limit.rst
  examples/unit/adc_v11/adcv11_core2_example.m5f2
  examples/unit/adc_v11/adcv11_core2_example.py
  examples/unit/button/button_core2_example.m5f2
  examples/unit/button/button_core2_example.py
  examples/unit/color/color_core2_example.m5f2
  examples/unit/color/color_core2_example.py
  examples/unit/extio2/extio2_core2_example.m5f2
  examples/unit/extio2/extio2_core2_example.py
  examples/unit/limit/limit_core2_example.m5f2
  examples/unit/limit/limit_core2_example.py
  m5stack/libs/driver/ads1110.py
  m5stack/libs/driver/pca9554.py
  m5stack/libs/driver/tcs3472.py
  m5stack/libs/unit/adc_v11.py
  m5stack/libs/unit/extio2.py
  m5stack/libs/unit/limit.py
Due: none

lib/units: Add a method to initialize CAN.
  docs/en/refs/unit.can.ref
  docs/en/units/can.rst
  m5stack/libs/unit/can.py
Due: none

lib/gps: Add GPS Module Support.
  docs/en/module/gps.rst
  docs/en/module/index.rst
  docs/en/refs/module.gps.ref
  examples/module/gps/gps_core2_example.m5f2
  examples/module/gps/gps_core2_example.py
  m5stack/libs/module/__init__.py
  m5stack/libs/module/gps.py
  m5stack/libs/module/manifest.py
Due: none

components/M5Unified: Fixed GLASS Unit initialization exception.
  m5stack/components/M5Unified/mpy_m5unified.cpp
Due: none

READMD.md: Update the link to esp-idf.
  README.md
Due: none

version.text: Update to V2.1.9.
  m5stack/boards/sdkconfig.base
  m5stack/version.txt
  third-party/version.txt
Due: build-job

WIP: Update.
  m5stack/components/m5things/m5things.c
  tools/release.py
Due: build-job

.gitlab-ci.yml: Build the documentation using python-venv.
  .gitlab-ci.yml
  docs/.gitignore
Due: build-docs

lib/units: Add ByteButton Unit Support.
  docs/en/refs/unit.bytebutton.ref
  docs/en/refs/unit.byteswitch.ref
  docs/en/units/button.rst
  docs/en/units/bytebutton.rst
  docs/en/units/byteswitch.rst
  docs/en/units/index.rst
  examples/unit/bytebutton/bytebutton_cores3_example.m5f2
  examples/unit/bytebutton/bytebutton_cores3_example.py
  examples/unit/byteswtich/byteswitch_cores3_example.py
  m5stack/libs/unit/__init__.py
  m5stack/libs/unit/bytebutton.py
  m5stack/libs/unit/manifest.py
Due: none

lib/driver: Add SEN55 sensor support.
  docs/en/hardware/index.rst
  docs/en/hardware/scd40.rst
  docs/en/hardware/sen55.rst
  docs/en/refs/hardware.scd40.ref
  docs/en/refs/hardware.sen55.ref
  examples/hardware/scd40/airq_scd40_example.m5f2
  examples/hardware/scd40/airq_scd40_example.py
  examples/hardware/sen55/airq_sen55_example.m5f2
  examples/hardware/sen55/airq_sen55_example.py
  m5stack/libs/driver/manifest.py
  m5stack/libs/driver/scd40.py
  m5stack/libs/driver/scd40_async.py
  m5stack/libs/driver/sen55.py
  m5stack/libs/hardware/__init__.py
  m5stack/libs/hardware/manifest.py
  m5stack/libs/hardware/scd40.py
  m5stack/libs/hardware/sen55.py
  m5stack/libs/unit/co2.py
  m5stack/libs/unit/co2l.py
Due: none

libs/module/llm.py: Compatible with new and old Module LLM firmware.
  m5stack/libs/module/llm.py
Due: none

examples/module/llm/get_model_list.m5f2: Add get_model_list demo.
  examples/module/llm/get_model_list.m5f2
Due: none

examples/module/llm/*.m5f2: Update the demo of Module LLM.
  examples/module/llm/kws_asr.m5f2
  examples/module/llm/llm_voice_assistant.m5f2
  examples/module/llm/tts.m5f2
Due: none

examples/module/llm: Update llm demo.
  examples/module/llm/kws_asr.m5f2
  examples/module/llm/llm_voice_assistant.m5f2
  examples/module/llm/text_assistant.m5f2
  examples/module/llm/tts.m5f2
Due: none

examples/module/llm: Add Chinese demo.
  examples/module/llm/kws_asr_zh_CN.m5f2
  examples/module/llm/llm_voice_assista_zh_CN.m5f2
  examples/module/llm/tts_zh_CN.m5f2
Due: none

libs/module/llm.py: Add Chinese interface.
  m5stack/libs/module/llm.py
Due: none

examples/module/llm: Add yolo demo.
  examples/module/llm/kws_asr.m5f2
  examples/module/llm/kws_asr_zh_CN.m5f2
  examples/module/llm/llm_voice_assistant.m5f2
  examples/module/llm/text_assistant.m5f2
  examples/module/llm/tts.m5f2
  examples/module/llm/yolo.m5f2
Due: none

libs/unit/uwb.py: Cache raw data of ranging results.
  m5stack/libs/unit/uwb.py
Due: none

libs/module: Add Zigee Module support.
  m5stack/libs/module/__init__.py
  m5stack/libs/module/manifest.py
  m5stack/libs/module/zigbee.py
  m5stack/libs/unit/roller485.py
  m5stack/libs/unit/zigbee.py
Due: none

docs: Add Zigbee Module.
  docs/en/module/index.rst
  docs/en/module/zigbee.rst
  docs/en/refs/module.zigbee.ref
  examples/module/zigbee/core2_zigbee_rx_example.m5f2
  examples/module/zigbee/core2_zigbee_rx_example.py
  examples/module/zigbee/cores3_zigbee_tx_example.m5f2
  examples/module/zigbee/cores3_zigbee_tx_example.py
Due: none

cmodules: add jpg and code_scanner module
  docs/Makefile
  docs/en/hardware/camera.rst
  docs/en/hardware/display.rst
  docs/en/refs/software.code_scanner.ref
  docs/en/refs/software.image.ref
  docs/en/refs/software.jpg.ref
  docs/en/software/code_scanner.rst
  docs/en/software/image.rst
  docs/en/software/index.rst
  docs/en/software/jpg.rst
  docs/zh_CN/refs/software.code_scanner.ref
  docs/zh_CN/refs/software.image.ref
  docs/zh_CN/refs/software.jpg.ref
  docs/zh_CN/software/code_scanner.rst
  docs/zh_CN/software/image.rst
  docs/zh_CN/software/index.rst
  docs/zh_CN/software/jpg.rst
  examples/softwave/code_scanner/qrcode_detect_example.py
  examples/softwave/jpg/take_photo_example.py
  m5stack/CMakeListsDefault.cmake
  m5stack/Makefile
  m5stack/cmodules/omv/micropython.cmake
  m5stack/cmodules/omv/modules/py_code_scanner.c
  m5stack/cmodules/omv/modules/py_jpg.c
Due: build-job, build-docs

board: Support paperS3.
  .gitmodules
  m5stack/CMakeListsDefault.cmake
  m5stack/Makefile
  m5stack/boards/M5STACK_PaperS3/manifest.py
  m5stack/boards/M5STACK_PaperS3/mpconfigboard.cmake
  m5stack/boards/M5STACK_PaperS3/mpconfigboard.h
  m5stack/boards/M5STACK_PaperS3/sdkconfig.board
  m5stack/cmodules/m5unified/m5unified.c
  m5stack/components/M5Unified/CMakeLists.txt
  m5stack/fs/system/papers3/applist.png
  m5stack/fs/system/papers3/bookmark_icon_23@0.jpg
  m5stack/fs/system/papers3/config.png
  m5stack/fs/system/papers3/flow.png
  m5stack/fs/system/papers3/paper_text_382@925.jpg
  m5stack/fs/system/papers3/run.png
  m5stack/fs/system/papers3/server_icon_error_80@925.jpg
  m5stack/fs/system/papers3/server_icon_ok_80@925.jpg
  m5stack/fs/system/papers3/startup.png
  m5stack/fs/system/papers3/usb_icon_80@925.jpg
  m5stack/fs/system/papers3/wifi_icon_error_40@925.jpg
  m5stack/fs/system/papers3/wifi_icon_ok_40@925.jpg
  m5stack/modules/startup/__init__.py
  m5stack/modules/startup/manifest_papers3.py
  m5stack/modules/startup/papers3/__init__.py
  m5stack/modules/startup/papers3/app_base.py
  m5stack/modules/startup/papers3/apps/app_list.py
  m5stack/modules/startup/papers3/apps/dev.py
  m5stack/modules/startup/papers3/apps/settings.py
  m5stack/modules/startup/papers3/apps/status_bar.py
  m5stack/modules/startup/papers3/framework.py
Due: build-job

patches: Avoid epdiy compilation failure on esp32-c6.
  m5stack/Makefile
  m5stack/patches/4001-Avoid-epdiy-compilation-failure-on-esp32-c6.patch
Due: build-job

lib/base: Add Atom CAN Base support.
  docs/en/base/atom_can.rst
  docs/en/base/index.rst
  docs/en/refs/base.can.ref
  m5stack/libs/base/__init__.py
  m5stack/libs/base/atom_can.py
  m5stack/libs/base/manifest.py
Due: none

docs: Harmonization of document formats.
  docs/en/hats/neoflash.rst
  docs/en/hats/servo.rst
  docs/en/module/gps.rst
  docs/en/module/llm.rst
  docs/en/module/odrive.rst
  docs/en/module/pm25.rst
  docs/en/units/adc_v11.rst
  docs/en/units/button.rst
  docs/en/units/catch.rst
  docs/en/units/color.rst
  docs/en/units/dds.rst
  docs/en/units/digi_clock.rst
  docs/en/units/extio.rst
  docs/en/units/extio2.rst
  docs/en/units/flash_light.rst
  docs/en/units/glass.rst
  docs/en/units/glass2.rst
  docs/en/units/grove2grove.rst
  docs/en/units/heart.rst
  docs/en/units/index.rst
  docs/en/units/key.rst
  docs/en/units/limit.rst
  docs/en/units/minioled.rst
  docs/en/units/oled.rst
  docs/en/units/puzzle.rst
  docs/en/units/rca.rst
  docs/en/units/relay4.rst
  docs/en/units/roller485.rst
  docs/en/units/rollercan.rst
  docs/en/units/ssr.rst
  docs/en/units/uwb.rst
  docs/en/units/watering.rst
Due: none

board.cpp: Set Station's port as the default output.
  m5stack/board.cpp
Due: build-job

version.text: Update to V2.2.0.
  m5stack/version.txt
  third-party/version.txt
Due: build-job

Path conditions:
  build-job: any of: m5stack/**, tools/**, third-party/**
  build-docs: any of: docs/**
